<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gradproject.sgs.mapper.CourseMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_course (course_name, credits) VALUES (#{courseName}, #{credits})
    </insert>

    <select id="findAll" resultType="com.gradproject.sgs.entity.Course">
        SELECT * FROM t_course ORDER BY id
    </select>

    <update id="update">
        UPDATE t_course SET course_name = #{courseName}, credits = #{credits} WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM t_course WHERE id = #{id}
    </delete>

</mapper>